@font-face {
  font-family: "Circular"; // Un nombre que elijas para tu fuente
  src: url("./fonts/CircularSpotifyText-Book.otf") format("opentype"); // Cambia esto por la ruta real al archivo .otf
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular"; // Un nombre que elijas para tu fuente
  src: url("./fonts/CircularSpotifyText-Light.otf") format("opentype"); // Cambia esto por la ruta real al archivo .otf
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular"; // Un nombre que elijas para tu fuente
  src: url("./fonts/CircularSpotifyText-Medium.otf") format("opentype"); // Cambia esto por la ruta real al archivo .otf
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular"; // Un nombre que elijas para tu fuente
  src: url("./fonts/CircularSpotifyText-Bold.otf") format("opentype"); // Cambia esto por la ruta real al archivo .otf
  font-weight: 600;
  font-style: normal;
}
@font-face {
    font-family: "Circular"; // Un nombre que elijas para tu fuente
    src: url("./fonts/CircularSpotifyText-Black.otf") format("opentype"); // Cambia esto por la ruta real al archivo .otf
    font-weight: 700;
    font-style: normal;
  }
  
