@import "variables.modules";
@import "nav/Nav.scss";
@import "MainMenu.scss";
@import "Player.scss";
@import "cards/TopCard.scss";
@import "cards/EpisodeCard.scss";
@import "mixins.scss";
@import "playerpage/MainPlayer.scss";
@import "playerpage/PlayerAside.scss";
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 3.8em;
  font-weight: 800;
}
h2 {
  font-size: 1.6em;
  font-weight: 700;
}
h4 {
  font-size: 1.2em;
  font-weight: 800;
}
h5 {
  font-size: 1em;
  font-weight:500;
}
//BUTTONS
.PlayButton {
  @include PlayButton;
}

#Main {
  height: 2082vh;
  padding: 0 0 1.6em 0;
  border-radius: 8px;
  overflow: auto;
  background-attachment: fixed;
  background-size: 100% 300%; /* Tamaño del fondo (ancho, alto multiplicado por 3) */
  background-position: center top; /* Posición inicial del fondo */
  background-color: $gris-1-oscuro;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 33vw;
  //  max-width:calc(100vw - 280px);
  width: 65%;
  overflow-x: hidden;
  height: 79vh;
  margin: 8px 0px 8px 16px;
}

body {
  color: white;
  background-color: $gris-casi-negro;
  width: 100vw;
  height: 100vh;
  font-family: "Circular";
}

//ICONS

.OnlyMobile {
  display: none;
}
.OnlyDesktop {
  display: flex;
}
//MEDIA QUERIES
//ipad
// @media (max-width: 820px) {
//   #Main {
//     position: fixed;
//     display: flex;
//     left: 285px;
//     width: 100vw;
//     margin: 8px 0 0 0;
//     border-radius: 0px;
//   }
// }

//phone
@media (max-width: 550px) {
  //GENERAL
  .OnlyMobile {
    display: flex;
  }
  .OnlyDesktop {
    display: none;
  }
  p {
    font-size: 0.7em;
  }
  h4 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.8em;
  }
  //NAV
  .NavContainer {
    width: 100%;
    .Navigation {
      display: flex;
    }
    .ButtonGroup {
      display: none;
    }
  }
  //NAVSCROLLED
  .NavContainerScrolled {
    border-radius: 0px;
    background-color: rgb(122, 122, 0);
    width: 100%;
    .Navigation {
      display: flex;
    }
    .ButtonGroup {
      display: none;
    }
  }
  .NextButton {
    display: none;
  }
  //MAINMENU
  .MainMenu {
    position: fixed;
    width: 100vw;
    bottom: 0;
    height: 10vh;
    margin: 0px;
    border-radius: 0px;
  }
  .MainMenuItems {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .MainMenuItemContainer {
    span {
      margin-right: 0.7em;
    }
  }
  .MainMenuItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    height: 46px;
    background: linear-gradient(
      to top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.821) 80%
    );
    margin: 0em 0 0 0;
    width: 34vw;
    height: 58px;
    padding: 0.7em;
    align-items: center;
    span {
      height: 20px;
      margin: 0 0 0 0;
      font-weight: 300;
      font-size: 2.1em;
    }
    p {
      font-size: 0.8em;
      margin: 1.1em 0 0 0;
    }
  }
  .MainMenuItemContainer:first-child {
    padding: 1em;
    border-radius: 0;
    margin: 0em 0 0 0;
    width: 34vw;
    height: 58px;
    padding: 0.7em;
    align-items: center;
    background: linear-gradient(
      to top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.821) 80%
    );
  }
  .MainMenuItemContainer:last-child {
    padding: 1em;
    border-radius: 0;
    margin: 0em 0 0 0;
    width: 34vw;
    height: 58px;
    padding: 0.7em;
    float: center;
    align-items: center;
    background: linear-gradient(
      to top,
      rgba(21, 21, 21, 0) 0%,
      rgba(21, 21, 21, 0.821) 80%
    );
  }
  #LibraryItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .LibraryContainer {
    display: none;
  }
  .LightIcons {
    display: none;
    span {
      font-weight: 100;
      stroke: 1px solid rgb(211, 22, 22);
    }
  }
  ///MAIN
  #Main {
    position: fixed;
    display: flex;
    left: 0;
    width: 104vw;
    margin: 0px;
    border-radius: 0px;
  }
  //TOPCARD
  .TopCardHeader {
    padding: 1em;
  }
  .TopCardContainer {
    p {
      font-size: 0.7em;
    }
  }
  .TopCardDescriptionContainer {
    margin: 1em 0 0 0;
  }
  .TopCardDescriptionInfo {
    display: none;
  }
  .TopCardExtendedInfo {
    padding: 1em;
  }
  .TopCardTags {
    display: flex;
    flex-direction: row;
    .Tag {
      margin-right: 0.8em;
      margin-bottom: 0;
      font-size: 0.7em;
    }
  }
  .TopCardMainInfo {
    margin: 4.4em 0 0 0.6em;
    h1 {
      font-size: 2.4em;
    }
    h4 {
      font-weight: 500;
    }
  }
  .TopCardButtons {
    button {
      font-size: 0.7em;
    }
    span {
      font-size: 1.4em;
      align-items: center;
    }
  }
  #MoreVertButton {
    display: flex;
  }
  .CardDescriptionShowMore {
    font-size: 0.8em;
  }
  //CARD
  //NEXT EPISODE
  .NextCardContainer {
    margin: 1em;
    .EpisodeCard {
      display: flex;
      padding: 0;
      .CardImgContainer {
        margin-right: 0;
        height: 60px;
      }
      .SmallTitle {
        font-size: 0.7em;
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    .CardImg {
      display: flex;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .CardInfoContainer {
      margin-left: 1em;
      .CardDescription {
        .NotificationNew {
          display: none;
        }
        .Title {
          h6 {
            margin: 0;
          }
        }
        #TitleProgram {
          display: none;
        }
      }
      .CardButtonContainerMobile {
        .CardButtonGroup {
          display: none;
        }
      }
    }

    #NextTag {
      display: none;
    }
    #DescriptionTag {
      display: none;
    }
    .CardButtonContainer {
      display: none;
    }
  }
  //ALLCARDS
  .AllCards {
    padding: 0em 1em;
    #DescriptionTag {
      font-size: 0.8em;
      margin-top: 0.4em;
      margin-left: -4em;
      height: 3em;
    }
    li {
      a {
        font-size: 0.8em;
      }
      a:last-child {
        font-size: 0.8em;
      }
    }
    .TitleAllCards {
      font-size: 1em;
    }
    .SmallTitle {
      height: 3em;
      p {
        margin-top: 0.4em;
        font-size: 0.8em;
        height: 3em;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .CardButtonContainerMobile {
      margin-left: -3.2em;
      .SmallTitle {
        font-size: 0.7em;
        height: 2em;
      }
      .CardButtonGroup {
     
        div {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          span {
            color: $gris-1-muy-claro;
            margin-right: 0.6em;
            font-size: 1.3em;
          }
        }
        .PlayButton {
          span 
          {
            font-size: 1.8em
          }
        }
      }
    }
  }
  .EpisodeCard {
    padding: 1em 0;
  }
  .TitleAllCards {
    justify-content: left;
    .Title {
      font-weight: 600;
    }
    span {
      font-size: 18px;
    }
  }
  .CardImgContainer {
    margin-right: 0.6em;
    img {
      height: 44px;
      width: 44px;
    }
  }
  .CardDescription {
    h6 {
      font-weight: 500;
    }
  }

  //PLAYER
  .Player {
    position: fixed;
    bottom: 11vh;
    width: 95vw;
    height: 68px;
    padding: 0 0 8px 8;
    margin: 8px 8px 0 8px;
    border-radius: 8px;
    background-color: rgb(126, 46, 59);
    display: grid;
    grid-template-columns: 70% 10%;
    .PlayerTrack {
    }
  }
  .PlayerContainer {
    bottom: 10vh;
    display: flex;
    justify-content: center;
    width: 94vw;
    margin-left: 3vw;
    .PlayerActions {
      display: none;
    }
    .PlayerText {
      h6 {
        mask-image: linear-gradient(
          to right,
          rgb(126, 46, 59) 0%,
          rgb(126, 46, 59) 80%,
          transparent 100%
        );
      }
    }
    .PlayerActionsButtons {
      display: none;
    }
    .PlayerGroupActions {
      span {
        font-size: 1.9em;
        color: white;
        margin: 0 0 0 0.3em;
      }
    }
    .TimeLineContainer {
      display: none;
    }
  }
}
//SCROLLBARS
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: fixed;
}

/* Cambios en la barra de desplazamiento cuando el cursor está sobre ella */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el color de fondo */
}

/* Estilo del thumb (el "botón" de la barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0); /* Color del thumb */

  transition: 300ms ease-in-out;
}

/* Estilo del thumb cuando el cursor está sobre él */
::-webkit-scrollbar-thumb:hover {
  background: rgba(
    111,
    111,
    111,
    0.9
  ); /* Cambia el color del thumb al pasar el cursor sobre él */
  height: 10px;
  transition: 300ms ease-in-out;
}

/* Estilo del track (la pista de la barra de desplazamiento) */
::-webkit-scrollbar-track {
  background: transparent; /* Fondo del track */
}
