$colormarca: rgb(0, 190, 85);
$gris-1-oscuro: rgb(21,21,21);
$gris-2-oscuro: rgb(32,32,32);
$gris-3-oscuro: rgb(44, 44, 44);
$gris-2-oscuro-alfa: rgba(32, 32, 32, 0.714);
$gris-oscuro: rgb(44,44,44);
$gris-1-muy-claro: rgb(163, 161, 154);
$gris-claro: rgb(115, 115, 115);
$gris-casi-negro: rgb(5,5,5);
$gris-boton:  rgba(0, 0, 0, 0.737);
$linear-gradient: linear-gradient(
    to right,
    rgba(21, 21, 21, 0) ,
    rgb(21, 21, 21) );
$azul-spotify: rgb(0, 89, 255);
///
/// 
/// 
$padding-sides: 1.6em ;
$height-MainMenu-1:164px;

