@import "../mixins.scss";
@import "../variables.modules";

#MainPlayer {
    height: 2082vh;
    padding: 0 0 1.6em 0;
    border-radius: 8px;
    overflow: auto;
    background-attachment: fixed;
    background-size: 100% 300%; /* Tamaño del fondo (ancho, alto multiplicado por 3) */
    background-position: center top; /* Posición inicial del fondo */
    background-color: $gris-1-oscuro;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 33vw;
    //  max-width:calc(100vw - 280px);
    width: 36vw;
    overflow-x: hidden;
    height: 82vh;
    margin: 8px 0px 8px 16px;
    .NavContainer {
        width: 36vw;
    }
    .NavContainerScrolled {
        width: 36vw;
    }
  }