@import "../mixins.scss";
@import "../variables.modules";

.MotherLanguage {
    color: white
}
.OtherLanguage {
    color: rgb(255, 213, 0)
}

.PlayerAside {
    background-color: $gris-1-oscuro;
    padding: 1em;
    margin: 8px 8px 8px 12px;
    border-radius: 8px;
    position: fixed;
    left: 70vw;
    overflow: auto;
    height: 82vh;
    overflow-x: hidden;
    p {
        font-size: 0.74em;
    }
    b {
        font-size: 0.74em;
    }
    h5 {
        opacity: 0.7;
    }
}
.LanguageContainer {
    display: flex;

    .Title {
        display: flex;
        flex-direction: column;
    }
    .TitleButtons {
        display: flex;
        margin-top: 0.4em;
        span {
            font-size: 1.2em;
            color: $gris-1-muy-claro;
            margin-right: 0.4em;
        }
    }
    .Functionality {
        span {
        color: white;
        background-color: rgb(194, 2, 194);
        border-radius:24px;
        height: 30px;
        width: 30px;
        padding:0.2em 0 0 0.2em;
        margin-top: 0.2em;
        font-size: 1.35em;
        font-weight: 600;
    
        box-shadow: 2px 2px 0px 0px rgba(100, 4, 67, 0.75);
        }
    }
}
.TranscriptionWarning {

}
.TranscriptionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.TextTranscription {
    border-radius: 24px;
    background-color: $gris-2-oscuro;
    padding: 1.5em 1em 0.2em 1em;
    margin: 0 0.4em 0 0;
}
.Listened {
    font-weight: 600;
}
.Hightlight {
    background-color: rgba(255, 255, 255, 0.179);
    border-radius: 4px;
    font-weight: 600;
}
.NotListened {
    opacity: 0.4
}